.list-wrapper {
  &__title {
    padding: $space-md;
    margin: 0;
    font-size: $space-md;
  }
}

.palindromes-list {
  font-size: $font-size-sm;

  &__item {
    padding: $space-md;
    border-bottom: 1px solid $color-gray;

    &:first-child {
      border-top: 1px solid $color-gray;
    }

    &:last-child {
      border-bottom: 0 none;
    }
  }
}
